.content-wrapper{
  width: 100%;
  height: 98vh;
}

.blocks-and-code{
  width: 100%;
  display:inline-block;
  vertical-align:top;
  height: 85vh;
}

#configs-list{
  overflow: auto;
  overflow-y: hidden;
}

#configs-list li{
  display: inline-block;
}

#configs-list div{
  display: inline-block;
}

#blockly-area{
  float: left;
  width: 60%;
  height: 100%;
  min-height: 100%;
}

#blockly-div{
  height: 100%;
  min-height: 100%;
}

#code-preview{
  display:inline-block;
  width: 38%;
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.workspace-controls{
  display:inline-block;
}
