.content-wrapper{
  width: 100%;
  height: 98vh;
}

.blocks-and-code{
  width: 100%;
  display:inline-block;
  vertical-align:top;
  height: 85vh;
}

#configs-bar {
  margin-left: -45px;
}

#configs-list{
  margin-left: -43px;
  overflow: auto;
  overflow-y: hidden;
}

#configs-list li{
  display: inline-block;
}

#configs-list div{
  display: inline-block;
  margin-left: 10px;
}

#blockly-area{
  float: left;
  width: 60%;
  height: 100%;
  min-height: 100%;
}

#blockly-div{
  height: 100%;
  min-height: 100%;
}

#code-preview{
  display:inline-block;
  width: 38%;
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.project-element {
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px 10px 4px 10px;
  cursor:pointer;
}

.project-element-active {
  border: 1px solid green;
  border-radius: 10px;
  padding: 4px 10px 4px 10px;
  background-color: DarkTurquoise;
  cursor:pointer;
}

.new-button {
  color: white;
  border: 1px;
  border-radius: 10px;
  background-color: green;
  padding: 4px 10px 4px 10px;
  border-color: ;
  cursor:pointer;
}

.workspace-controls{
  display:inline-block;
}

.sidebar-menu :not(li){
  cursor:pointer;
}