 <div class="skin-blue sidebar-mini">
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <img ng-src="/img/logo.png" alt="logo">
      </div>
      <ul class="sidebar-menu">
        <li class="header">{{appCtrl.msg.project.title}}</li>
        <li><a ng-click="appCtrl.openNewProjectModal()">{{appCtrl.msg.project.create}}<i class="fa fa-file pull-right"></i></a></li>
        <li><a ng-click="appCtrl.openOpeningProjectModal()">{{appCtrl.msg.project.open}}<i class="fa fa-upload pull-right"></i></a></li>
        <li><a ng-click="appCtrl.openSavingProjectModal()">{{appCtrl.msg.project.save}}<i class="fa fa-download pull-right"></i></a></li>
        <input id="file-input" type="file" ng-show="false" iob-file-loaded="appCtrl.openProjectFromJson($fileContent)"/>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content">
      <div class="blocks-and-code">
        <div id="blockly-area">
          <div id="blockly-div"></div>
        </div>
        <div id="code-preview" ng-show="workspaceCtrl.isCodeVisible">
          <pre><code id="generated-code"></code></pre>
        </div>
      </div>
      <div class="workspace-controls">
        <button ng-click="workspaceCtrl.cleanWorkspace()">{{workspaceCtrl.msg.workspace.cleanWorkspace}}</button>
        <button ng-click="workspaceCtrl.toggleCodeVisible()">{{workspaceCtrl.msg.workspace.toggleCode}}</button>
      </div>
    </section>
  </div>
</div>
