 <div class="skin-blue sidebar-mini">
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <img ng-src="/img/logo.png" alt="logo">
      </div>
      <ul class="sidebar-menu">
        <li class="header">{{appCtrl.msg.project.title}}</li>
        <li><a ng-click="appCtrl.newTemplateAction()">{{appCtrl.msg.project.newTemplate}}<i class="fa fa-file pull-right"></i></a></li>
        <li><a ng-click="appCtrl.implementTemplateAction()">{{appCtrl.msg.project.implementTemplate}}<i class="fa fa-file pull-right"></i></a></li>
        <li><a ng-click="appCtrl.openProjectAction()">{{appCtrl.msg.project.openProject}}<i class="fa fa-upload pull-right"></i></a></li>
        <li><a ng-click="appCtrl.saveProjectAction()">{{appCtrl.msg.project.save}}<i class="fa fa-download pull-right"></i></a></li>
        <li><a ng-click="appCtrl.generateConfigFilesAction()" ng-show="workspaceCtrl.canDownloadConfigs()">
          {{appCtrl.msg.project.generateConfig}}<i class="fa fa-download pull-right"></i>
        </a></li>
        <li class="header">{{appCtrl.msg.project.view}}</li>
        <li><a ng-click="workspaceCtrl.toggleCodeVisible()">{{appCtrl.msg.project.toggleCode}}<i class="fa fa-file pull-right"></i></a></li>

        <input id="file-input-open-project" type="file" ng-show="false"
          cfg-file-loaded="appCtrl.handleOpenFile($fileContent, 'openProject')"/>
        <input id="file-input-implement-template" type="file" ng-show="false"
          cfg-file-loaded="appCtrl.handleOpenFile($fileContent, 'implementTemplate')"/>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content">
      <div class="configs-bar">
        <ul id="configs-list">
          <li ng-repeat="configName in workspaceCtrl.configNames">

            <div class="project-element-active" ng-show="workspaceCtrl.ifConfigSelected(configName)">
              <span ng-click="workspaceCtrl.selectConfig(configName)">{{configName}}</span>
              <span ng-if="workspaceCtrl.configFileNameVisible(configName)"> [{{workspaceCtrl.getConfigFileName(configName)}}]</span>
              <button class="close-button" ng-show="workspaceCtrl.configsEditable()" ng-click="workspaceCtrl.removeConfig(configName)">X</button>
            </div>
            <div class="project-element" ng-show="!workspaceCtrl.ifConfigSelected(configName)">
              <span ng-click="workspaceCtrl.selectConfig(configName)">{{configName}}</span>
              <span ng-if="workspaceCtrl.configFileNameVisible(configName)"> [{{workspaceCtrl.getConfigFileName(configName)}}]</span>
              <button class="close-button" ng-show="workspaceCtrl.configsEditable()" ng-click="workspaceCtrl.removeConfig(configName)">X</button>
            </div>

          </li>
          <li ng-show="workspaceCtrl.configsEditable()">
            <div>
              <button class="new-button" ng-click="appCtrl.addConfigAction()">+ {{workspaceCtrl.msg.config.new}}</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="blocks-and-code">
        <div id="blockly-area">
          <div id="blockly-div"></div>
        </div>
        <div id="code-preview" ng-show="workspaceCtrl.isCodeVisible">
          <pre><code id="generated-code"></code></pre>
        </div>
      </div>
    </section>
  </div>
</div>
